.no-user-drag {
  -webkit-user-drag: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: -1vh;
  font-size: 2rem;
  transform: translateY(0);
  animation: fall 3s linear forwards;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes fall {
  to {
    transform: translateY(101vh);
  }
}

body {
  background: #fbe7c6;
  /* background: linear-gradient(270deg, #f1d279, #ffc066); */
  background-image: url("./assets/layered-waves-haikei.svg"); /* The image used */
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
